RewriteEngine On
RewriteRule ^(login|logout|dashboard|alumno|profesor|admin|invitado)(/.*)?$ index.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
